<div class="container">
  <h2>注文履歴詳細</h2>
  <table>
    <thead>
      <tr>
      <%= form_with model: @order, url: admin_order_path, method: :patch do |o| %>
        <th><b>購入者</b></th>
        <td><%= @order.name %></td>
        </tr>
        <tr>
          <th><b>注文日</b></th>
          <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
        </tr>
        <tr>
          <th><b>配送先</b></th>
          <td>
            〒<%= @order.postcode %><br>
            <%= @order.address %><br>
            <%= @order.name %>
          </td>
        </tr>
        <tr>
          <th><b>支払方法</b></th>
          <td><%= @order.payment_method %></td>
        </tr>
        <tr>
          <th><b>注文ステータス</b></th>
          <td>
            <%= o.select :order_status, Order.order_statuses_i18n.keys, class: "order_status" %>
            <%= o.submit "更新" , class: "btn btn-outline-success" %>
          <% end %>
          </td>
        </tr>
    </thead>
  </table>
</div>