<h2>商品一覧</h2> 
<div class="float-right">
<%= link_to new_admin_product_path, class: "btn btn-secondary", method: :get do %>
 <i class="fas fa-plus-circle"></i>
<% end %>
</div>
<table class="table">
 <thead>
  <tr>
   <th>商品ID</th>
   <th>商品名</th>
   <th>ジャンル</th>
   <th>税抜価格</th>
   <th>販売ステータス</th>
  </tr>
 </thead>
 <tbody>
  <% @products.each do |product| %>
  <tr>
   <td><%= product.id %></td>
   <td><%= link_to product.name,admin_product_path(product.id) %></td>
   <td><%= product.genre.name %></td>
   <td><%= product.non_taxed_price %></td>
   <td><%= product.is_active ? '販売中' : '販売停止中' %></td>
  </tr>
  <% end %>
 </tbody>
 </table>
 <div class="d-flex justify-content-center">
  <%= paginate @products %>
 </div>
