<div class="d-flex align-items-center justify-content-center container">
  <div class="row">
    <div class="col-md-15">
      <table class="table table-border">
        <div align="center">注文履歴一覧</div>
        <thead>
          <tr>
            <th>注文日</th>
            <th>配送先</th>
            <th>注文商品</th>
            <th>支払金額</th>
            <th>ステータス</th>
            <th></th>
          </tr>
        </thead>
        <% @orders.each do |o| %>
        <tbody>
          <tr>
            <td><%= o.created_at %></td>
            <td>
              <p>〒<%= o.postcode %></p>
              <p><%= o.address %></p>
              <p><%= o.name %></p>
            </td>
            <td>
            <% o.order_details.each do |o| %>
              <p><%= o.product.name %></p>
            <%end%>
            </td>
            <td><%= o.bill %></td>
            <td><%= o.order_status_i18n %></td>
            <td><%= link_to "注文詳細", order_path(o.id) %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>